body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
    gap: 20px;
}

.container {
    height: 800px;
    width: 800px;
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
}

.userInput {
    display: flex;
    gap: 20px;
}

input {
    width: 30px;
}